@page "/weather"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]


<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data loaded from a backend API service.</p>


@code {
    //private WeatherForecast[]? forecasts;

    // protected override async Task OnInitializedAsync()
    // {
        //forecasts = await WeatherApi.GetWeatherAsync();
    //}
}
