name: tests/orleans

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0'

    - name: Install dependencies
      run: dotnet restore
      working-directory: ./tests/UnitTests

    - name: Build dotnet
      run: dotnet build
      working-directory: ./tests/UnitTests

    - name: Test - Release
      run: dotnet test --configuration Release --no-restore
      env:
        SKIP_PERF: TRUE
      working-directory: ./tests/UnitTests

    - name: List test folders
      run: ls -R ./libs/orleans/test
